body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  background-color: #5343C7;
  height: 6.5vh;
  color: white;
  margin-top: 0;
  width: 100vw;
}

.main {
  margin-left: 5vw;
  margin-right: 5vw;

}

mark {
  background-color: yellow;

}

.wrapper {
  display: flex;
  margin: 0.5vh;
  align-items: center;
  justify-content: space-between;
}